# Supabase
VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# URL base de las Supabase Edge Functions (generalmente igual a VITE_SUPABASE_URL/functions/v1)
VITE_SUPABASE_EDGE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co/functions/v1
